<div class="global-nav">
    <div class="global-nav__header">
        <div class="global-nav__section-title">
            @(ViewBag.Title ?? "Batteries")
        </div>

        <div class="global-nav__filters-container">
            @if (ViewBag.ShowCommunityAndGroupFilter != null && ViewBag.ShowCommunityAndGroupFilter)
            {
                @Html.Partial("_MainFilterPartial")
            }
        </div>

        <div class="global-nav__user">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
