@*
    Battery Efficiency widget (UI only).
    Data is loaded via AJAX from `DashboardController.GetBatteryEfficiency`.
*@

<div class="battery-efficiency widget-loading" id="batteryEfficiencyWidget" aria-label="Battery Efficiency">
    <div class="loader-overlay">
        <img src="@Url.Content("~/Content/Img/loader.svg")" alt="Loading..." class="loader-svg" />
    </div>
    <div class="battery-efficiency__header">
        <div class="battery-efficiency__header-left">
            <div class="battery-efficiency__title-row">
                <span class="battery-efficiency__title-icon widget-title-icon" aria-hidden="true">
                    <img src="@Url.Content("~/Content/Img/widgets/BatteryHeader.svg")"
                         class="soc-svg-icon"
                         alt="" />
                </span>

                <div class="battery-efficiency__title">Usage Status</div>
            </div>
            <div class="battery-efficiency__subtitle">Power Modules : <span id="bePowerModules">0</span></div>
        </div>

        <div class="battery-efficiency__header-right">
            <div class="battery-efficiency__avg-value" id="beEfficiencyScore">0%</div>
            <div class="battery-efficiency__avg-label">Efficiency<br />Score</div>
        </div>
    </div>

    <div class="battery-efficiency__bar" aria-hidden="true">
        <div id="beBarInUse" class="battery-efficiency__bar-seg battery-efficiency__bar-seg--inuse" style="width:0%"></div>
        <div id="beBarIdle" class="battery-efficiency__bar-seg battery-efficiency__bar-seg--idle" style="width:100%"></div>
    </div>

    <div class="battery-efficiency__cards" style="margin-top: 30px;">
        <div class="battery-efficiency__card">
            <div class="battery-efficiency__card-value" id="beInUseAmps">0.0 AH</div>
            <div class="battery-efficiency__card-label">Total<br />power</div>
        </div>

        <div class="battery-efficiency__card">
            <div class="battery-efficiency__card-value" id="beTotalAmps">0.0 AH</div>
            <div class="battery-efficiency__card-label">Utilized<br />power</div>
        </div>
    </div>
</div>