@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="form-top">
    <div class="form-top-left">
        <h3>@ViewBag.Title</h3>
        <p>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
    </div>
    <div class="form-top-right">
        <i class="fa fa-lock"></i>
    </div>
</div>
<div class="form-bottom">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="form-group">
                <h4 class="text-center-white">Your password has been reset.</h4>
            </div>
        </div>
        <a href="@Url.Action("Login","Account")"> < Back to login</a>
    }
</div>