<div class="navbar navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
            <span class="fa fa-th-large fa-stack-1x"></span>
        </button>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarHeader">
            <span class="fa fa-chevron-down fa-stack-1x"></span>
        </button>
        <a class="navbar-brand"><span>@ViewBag.Title</span></a>
    </div>
    <div class="navbar-collapse collapse" id="navbarHeader">
        @Html.Partial("_LoginPartial")
    </div>
</div>